<h1>Editing room player</h1>

<%= render "form", room_player: @room_player %>

<br>

<div>
  <%= link_to "Show this room player", @room_player %> |
  <%= link_to "Back to room players", room_players_path %>
</div>
