<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= player.bio %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= player.color %>
  </p>

</div>
